recursive-include docs *
recursive-include src *.h *.c
include root/recon/conf/*.ops
include release-notes
include LICENSE
include README
recursive-include root/recon/fftmod/src *
recursive-include root/recon/scanners/tablib *
prune root/recon/scanners/tablib/TODOs
exclude root/recon/operations/UBPC*.py
exclude root/recon/operations/*test*.py


