recursive-include docs *
recursive-include src *.h *.c
include root/recon/conf/*.ops
include release-notes
include LICENSE
include README
recursive-include root/recon/scanners/varian/tablib *
prune root/recon/scanners/varian/tablib/TODOs
prune src/punwrap_old
